@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
:root {
  --main-color-linear: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
  --main-color-purple: rgb(202, 106, 235);
  --main-color-blue: rgb(25, 181, 241);
  --alerts-success: rgb(0, 197, 102);
  --alerts-error: rgb(255, 71, 71);
  --alerts-warning: rgb(250, 204, 21);
  --grey-scale-black_100: rgb(24, 24, 27);
  --grey-scale-black_50: rgb(37, 37, 50);
  --grey-scale-grey_1: rgb(176, 176, 178);
  --grey-scale-grey_2: rgb(209, 209, 209);
  --grey-scale-white: rgb(255, 255, 255);
}

.header {
  position: relative;
  content: "";
  max-height: 114px;
  max-width: 100%;
  padding: 31px 0;
  z-index: 2;
}

.header__background {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

.header__content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
}

.header__logo a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__logo p {
  font-size: 20px;
  color: var(--grey-scale-white);
}

.menu__icon {
  display: none;
}

.menu__body {
  display: flex;
}

.menu__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 518px;
  height: 28px;
}

.menu__link {
  color: var(--grey-scale-white);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  box-sizing: border-box;
}

.menu__link:hover {
  font-weight: 500;
}

.open__btn {
  background: url(../../assets/icon/arrow.png) 50% no-repeat;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: none;
  transition: 0.3s;
  transform: 0deg;
}

.header__btn a {
  display: flex;
  box-sizing: border-box;
  color: var(--grey-scale-white);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
     border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  padding: 12px 24px;
}

.header__btn {
  background: transparent;
  transition: background 0.3s ease 0s;
}

.header__btn :hover {
  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  font-weight: 500;
}

.header__burger {
  display: none;
}

.spoiler__content-2,
.spoiler__content {
  display: none;
}

.open__link_spoiler {
  position: relative;
}

.spoiler__content {
  transform-origin: 0 0;
  transition: 0.5s;
  transform: rotateX(90deg);
}

.spoiler__content-2.push,
.spoiler__content.push {
  transition: 0.5s;
  transform: rotateX(0deg);
}

.open__link_spoiler {
  cursor: pointer;
}

.spoiler__content-2,
.spoiler__content {
  position: absolute;
  display: block;
  list-style-type: none;
  width: 12.5rem;
  position: absolute;
  top: 1rem;
  left: -4rem;
  background-color: var(--grey-scale-black_50);
  padding: 14px;
  border: 0.01rem solid transparent;
  -o-border-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.3), #252532) 1;
     border-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.3), #252532) 1;
  margin-top: 1rem;
  transform-origin: 0 0;
  transition: 0.5s;
  transform: rotateX(90deg);
}

.spoiler__content-2.push li:not(:last-child),
.spoiler__content.push li:not(:last-child) {
  margin-bottom: 10px;
}

.spoiler__link {
  color: #fff;
}

@media (max-width: 890px) {
  .header__burger-content {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(37, 37, 50, 0.4039215686);
  }
  .spoiler__content-mob.push,
  .spoiler__content-mob_2.push {
    display: block;
    transform-origin: 0 0;
    transition: 0.5s;
    transform: rotateX(0deg);
    transition: transform 0.3s ease 0s;
    margin-top: 10px;
  }
  .spoiler__content-mob,
  .spoiler__content-mob_2 {
    display: none;
    transform-origin: 0 0;
    transition: transform 0.3s ease 0s;
    transform: rotateX(90deg);
  }
  .spoiler__content-mob li:not(:last-child),
  .spoiler__content-mob_2 li:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__logo {
    display: flex;
    flex: 1 1 auto;
  }
  .menu__body {
    display: none;
  }
  .header__content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
  }
  .icon-menu.active {
    transform: translateX(0);
    transition: 0.3s;
  }
  .icon-menu {
    transform: translateX(-120%);
    transition: 0.3s;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .menu__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 140px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .menu__icon a {
    text-decoration: none;
    color: #d1d1d1;
    font-weight: 300;
    font-size: 24px;
    transition: all 0.3s ease 0s;
  }
  .menu__icon a:hover {
    font-weight: 500;
  }
  .header__burger {
    position: relative;
    display: flex;
    align-items: center;
    padding: 26px;
    margin-left: 20px;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
       border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
    border-image-slice: 1;
  }
  .menu__link-burger {
    width: 100%;
  }
  .open__link-burger {
    display: flex;
    align-items: center;
  }
  .burger-line {
    position: absolute;
    height: 3px;
    background: hsl(0, 0%, 100%);
    top: calc(50% - 1.25px);
    right: 10px;
    border-radius: 5px;
    transition: transform 0.5s ease 0s;
  }
  .burger-line:first-child {
    width: 60%;
    transform: translateY(-10px);
  }
  .burger-line:nth-child(2) {
    width: 22px;
    transform: translateY(0);
    transform: scale(100%);
  }
  .burger-line:last-child {
    width: 25%;
    transform: translateY(10px);
  }
  .rw-1._opened {
    transform: rotate(45deg);
  }
  .rw-2._opened {
    transform: scale(0%);
  }
  .rw-3._opened {
    width: 60%;
    transform: rotate(315deg);
  }
  .btn-mob {
    display: none;
  }
}
@media (max-width: 380px) {
  .header__btn {
    display: none;
  }
  .btn-mob {
    display: block;
    max-width: 144px;
  }
  .btn-mob a {
    font-size: 18px;
  }
}
:root {
  --main-color-linear: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
  --main-color-purple: rgb(202, 106, 235);
  --main-color-blue: rgb(25, 181, 241);
  --alerts-success: rgb(0, 197, 102);
  --alerts-error: rgb(255, 71, 71);
  --alerts-warning: rgb(250, 204, 21);
  --grey-scale-black_100: rgb(24, 24, 27);
  --grey-scale-black_50: rgb(37, 37, 50);
  --grey-scale-grey_1: rgb(176, 176, 178);
  --grey-scale-grey_2: rgb(209, 209, 209);
  --grey-scale-white: rgb(255, 255, 255);
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Chakra Petch;
  font-size: 16px;
  background-color: var(--grey-scale-black_100);
}

body._lock {
  overflow: hidden;
}

video {
  -o-object-fit: contain;
     object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

:root {
  --main-color-linear: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
  --main-color-purple: rgb(202, 106, 235);
  --main-color-blue: rgb(25, 181, 241);
  --alerts-success: rgb(0, 197, 102);
  --alerts-error: rgb(255, 71, 71);
  --alerts-warning: rgb(250, 204, 21);
  --grey-scale-black_100: rgb(24, 24, 27);
  --grey-scale-black_50: rgb(37, 37, 50);
  --grey-scale-grey_1: rgb(176, 176, 178);
  --grey-scale-grey_2: rgb(209, 209, 209);
  --grey-scale-white: rgb(255, 255, 255);
}

.banner {
  position: relative;
  z-index: 2;
}

.banner__bg-image {
  position: absolute;
  left: -180vh;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner__content {
  height: 630px;
  width: 100%;
  margin-top: 16px;
}

.banner__start {
  display: flex;
  justify-content: space-between;
}

.banner__block {
  padding: 70px 0;
}

.block-text {
  flex: 0 1 45%;
}

.banner__title {
  font-size: 64px;
  line-height: 83px;
}

.block-text__title {
  color: var(--grey-scale-white);
  font-weight: 600;
}

.block-text__text {
  margin: 12px 94px 0 0;
  color: rgb(209, 209, 209);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
}

.main-btn {
  color: var(--grey-scale-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
}

.banner_btn {
  position: relative;
  padding: 18px 38px;
  margin-top: 32px;
  transition: all 0.3s ease 0s;
}

.banner_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #19b5f1, #ca6aeb);
  filter: blur(20px);
  z-index: -1;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.ls-info-png li:not(:first-child) {
  margin-left: -12px;
}

.banner-info {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.block__banner-info {
  gap: 1.25rem;
}

.banner-info__ls {
  display: flex;
  align-items: center;
  gap: 18px;
}

.banner-info__ls ul {
  display: flex;
}

.ls-value {
  position: relative;
  font-weight: 600;
  font-size: 16px;
}

.ls-value:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  left: -5px;
  height: 0.45rem;
  background: url("../../assets/Banner/HappyLine.svg") no-repeat;
}

.ls-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #d1d1d1;
}

.banner__video {
  max-width: 196px;
  height: 130px;
}

.banner__image img {
  display: flex;
  align-items: flex-end;
  width: 100%;
  z-index: -2;
}

.banner__image {
  position: relative;
}

.banner__image:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 40%;
  background: linear-gradient(90deg, #19b5f1, #ca6aeb);
  filter: blur(100px);
  transform: translate(-55%, -60%) rotate(-40deg);
  z-index: -1;
}

.why-us__content {
  position: relative;
  z-index: 20;
  max-height: 357px;
  display: flex;
  padding: 42px 63px 53px 65px;
  box-sizing: border-box;
  background: var(--grey-scale-black_50);
  flex-wrap: nowrap;
  gap: 50px;
}

.why-us-expertise {
  flex: 0 1 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.why-us-customization {
  flex: 0 1 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.why-us-service {
  flex: 0 1 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.why-us-expertise img:first-child,
.why-us-customization img:first-child,
.why-us-service img:first-child {
  max-height: 70px;
}

.why-us-expertise img:first-child {
  margin: 0 auto 60px 0;
}

.why-us-customization img:first-child {
  margin: 0 auto 47px 0;
}

.why-us-service img:first-child {
  margin: 0 auto 42px 0;
}

.why-us-expertise :nth-child(2),
.why-us-customization :nth-child(2),
.why-us-service :nth-child(2) {
  color: var(--grey-scale-white);
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}

.why-us-expertise :last-child,
.why-us-customization :last-child,
.why-us-service :last-child {
  color: var(--grey-scale-grey_1);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

:root {
  --main-color-linear: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
  --main-color-purple: rgb(202, 106, 235);
  --main-color-blue: rgb(25, 181, 241);
  --alerts-success: rgb(0, 197, 102);
  --alerts-error: rgb(255, 71, 71);
  --alerts-warning: rgb(250, 204, 21);
  --grey-scale-black_100: rgb(24, 24, 27);
  --grey-scale-black_50: rgb(37, 37, 50);
  --grey-scale-grey_1: rgb(176, 176, 178);
  --grey-scale-grey_2: rgb(209, 209, 209);
  --grey-scale-white: rgb(255, 255, 255);
}

.about-us {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--grey-scale-black_100);
  opacity: 1;
  margin: -100px 0 150px 0;
}

.about-us__content {
  display: flex;
  justify-content: space-between;
  margin-top: 220px;
}

.about-us__ls {
  position: relative;
  flex: 0 1 500px;
}

.about-us_image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 30%;
  background: linear-gradient(90deg, #19b5f1, #ca6aeb);
  filter: blur(100px);
  transform: translate(-55%, -60%) rotate(-40deg);
  z-index: -2;
}

.about-us_image::after {
  content: "";
  position: absolute;
  bottom: 128px;
  left: 0;
  background: #252532;
  width: 70%;
  height: 60%;
  z-index: -2;
}

.about-us_video {
  width: 240px;
}

.about-us_video video {
  position: absolute;
  cursor: pointer;
  width: 269px;
  height: 180px;
  bottom: -30px;
  right: -60px;
}

.about-us__rs {
  margin-top: 81px;
  flex: 0 1 562px;
}

.about-us__title {
  font-size: 48px;
  line-height: 58px;
}

.about-us__text {
  margin: 12px 34px 24px 0;
}

.about-us__checklist {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 32px;
}

.about-us__checklist-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.about-us__checklist-item span {
  color: var(--grey-scale-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.about-us-btn {
  padding: 18px 38px;
}

.heading-text {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #19b5f1, #ca6aeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

:root {
  --main-color-linear: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
  --main-color-purple: rgb(202, 106, 235);
  --main-color-blue: rgb(25, 181, 241);
  --alerts-success: rgb(0, 197, 102);
  --alerts-error: rgb(255, 71, 71);
  --alerts-warning: rgb(250, 204, 21);
  --grey-scale-black_100: rgb(24, 24, 27);
  --grey-scale-black_50: rgb(37, 37, 50);
  --grey-scale-grey_1: rgb(176, 176, 178);
  --grey-scale-grey_2: rgb(209, 209, 209);
  --grey-scale-white: rgb(255, 255, 255);
}

.services {
  margin-bottom: 150px;
}

.services__content {
  position: relative;
}

.services__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.heading-text {
  margin-bottom: 12px;
}

.services__text {
  flex: 0 1 625px;
  margin: 3px 42px 0 0;
}

.services__text::before {
  content: "";
  position: absolute;
  top: 15%;
  right: -40%;
  width: 21.1rem;
  height: 6rem;
  background: linear-gradient(90deg, #19b5f1, #ca6aeb);
  filter: blur(80px);
  transform: translate(-55%, -60%) rotate(-25deg);
}

.services__directions {
  display: flex;
  gap: 36px;
}

.services__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services__block {
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.3), #252532) 1;
     border-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.3), #252532) 1;
}

.services__block div:hover {
  border: 1px solid #0cbaf1;
  -o-border-image: linear-gradient(90deg, #0cbaf1, #e95ce9) 1;
     border-image: linear-gradient(90deg, #0cbaf1, #e95ce9) 1;
}

.block-services {
  position: relative;
  width: 379px;
  height: 291px;
  box-sizing: border-box;
  background: rgba(37, 37, 50, 0.6);
  padding: 38px 39px 25px 32px;
}

.services-image {
  width: 48px;
  height: 48px;
  margin-bottom: 60px;
}

.services__block-title {
  color: var(--grey-scale-white);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;
}

.services__block-text {
  color: var(--grey-scale-grey_1);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.column_services-2 {
  height: 750px;
  display: flex;
  justify-content: center;
}

.column_services-3 {
  height: 750px;
  display: flex;
  justify-content: flex-end;
}

.block-btn {
  background: none;
  padding: 18px 38px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
     border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
  max-height: 50px;
  background-color: transparent;
  opacity: 1;
}

:root {
  --main-color-linear: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
  --main-color-purple: rgb(202, 106, 235);
  --main-color-blue: rgb(25, 181, 241);
  --alerts-success: rgb(0, 197, 102);
  --alerts-error: rgb(255, 71, 71);
  --alerts-warning: rgb(250, 204, 21);
  --grey-scale-black_100: rgb(24, 24, 27);
  --grey-scale-black_50: rgb(37, 37, 50);
  --grey-scale-grey_1: rgb(176, 176, 178);
  --grey-scale-grey_2: rgb(209, 209, 209);
  --grey-scale-white: rgb(255, 255, 255);
}

:root {
  --main-color-linear: linear-gradient(90deg, rgb(12, 186, 241), rgb(233, 92, 233) 100%);
  --main-color-purple: rgb(202, 106, 235);
  --main-color-blue: rgb(25, 181, 241);
  --alerts-success: rgb(0, 197, 102);
  --alerts-error: rgb(255, 71, 71);
  --alerts-warning: rgb(250, 204, 21);
  --grey-scale-black_100: rgb(24, 24, 27);
  --grey-scale-black_50: rgb(37, 37, 50);
  --grey-scale-grey_1: rgb(176, 176, 178);
  --grey-scale-grey_2: rgb(209, 209, 209);
  --grey-scale-white: rgb(255, 255, 255);
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/