@import "../components/ui";

.about-us {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: var(--grey-scale-black_100);
	opacity: 1;
	margin: -100px 0 150px 0;
}

.about-us__content {
	display: flex;
	justify-content: space-between;
	margin-top: 220px;
}
.about-us__ls {
	position: relative;
	flex: 0 1 500px;
}
.about-us_image {
}
.about-us_image::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 30%;
	background: linear-gradient(90deg, #19b5f1, #ca6aeb);
	filter: blur(100px);
	transform: translate(-55%, -60%) rotate(-40deg);
	z-index: -2;
}
.about-us_image::after {
	content: "";
	position: absolute;
	bottom: 128px;
	left: 0;
	background: #252532;
	width: 70%;
	height: 60%;
	z-index: -2;
}
.about-us_video {
	width: 240px;
}
.about-us_video video {
	position: absolute;
	cursor: pointer;
	width: 269px;
	height: 180px;
	bottom: -30px;
	right: -60px;
}
.about-us__rs {
	margin-top: 81px;
	flex: 0 1 562px;
}
.about-us__header {
	display: inline-block;
	margin-bottom: 0.75rem;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	background: linear-gradient(90deg, #19b5f1, #ca6aeb);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.about-us__title {
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
}
.about-us__text {
	margin: 12px 34px 24px 0;
}

.about-us__checklist {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin-bottom: 32px;
}
.about-us__checklist-item {
	display: flex;
	align-items: center;
	gap: 6px;
}
.about-us__checklist-item span {
	color: var(--grey-scale-white);
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}
.about-us-btn {
	padding: 18px 38px;
}
